h1 {
    font-size: 8vw;
    color: aqua;
}   
.cajaRosa {
    background-color: palevioletred;
    opacity: 0.7;
}
.cajaVerde {
    background-color: greenyellow;
    opacity: 0.7;
}
div {
    margin:auto;
    padding: 5px;
}
p {
    font-size: 4vw;
    color: blueviolet;
}